@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import GraphTip
.ig
  position relative
  max-width 1000px
  font-family 'Roboto', helvetica, arial, sans-serif
  .titles
    h1
      display block
      width auto
      position absolute
      top 10px
      margin 0px
      font-size 18px
      font-variant small-caps
      &:last-child
        left 55%
        color darken(ColorRed, 40%)
        border-bottom 1px dashed @color
      &:first-child
        right 55%
        text-align right
        color ColorBlue
        border-bottom 1px dashed @color
  .zebricek
    ul
      list-style-type none
      margin 0px
      padding 0px
      margin-top 50px
      float left
      width 45%
      min-height 1px
      position relative
      &.heroes
        margin-right 10%
        text-align right
        li
          right 0px
          .bar div
            float right
            margin-left 3px
            transform skew(30deg, 0)
            background ColorBlue
          .name
            float right
          .count
            float right
            margin-right 20px
      &.villains
        li
          left 0px
          .bar div
            float left
            margin-right 3px
            transform skew(-30deg, 0)
            background ColorRed
          .name
            float left
          .count
            margin-left 20px
            float left

      li
        position absolute
        width 100%
        .name
        .count
          display block
          height 20px
        .name
          font-weight bold
        .count
          padding-top 1px
          font-size 11px
        .bar
          float left
          width 100%
          min-height 2px
          div
            margin-bottom 2px
            width 6px
            height 3px
  svg
    position absolute
    top 50px
    left 45%
    path
      stroke-width 0.5
      stroke lighten(desaturate(ColorRed, 50%), 50%)
      fill none
      &.active
        stroke ColorRed
        stroke-width 1
